# Configuration MySQL RDS - AWS
# Copiez ce fichier vers .env et remplissez les valeurs

# Hôte RDS (endpoint trouvé dans la console AWS)
DB_HOST=cloudpastordb.c720uy4cmh2w.eu-west-3.rds.amazonaws.com

# Utilisateur de la base de données
DB_USER=admin

# Mot de passe
DB_PASSWORD=PasswordTest12hhDER

# Nom de la base de données (à créer préalablement dans RDS)
DB_NAME=todo_db

# Port (3306 par défaut pour MySQL)
DB_PORT=3306

# Port du serveur Node.js
PORT=3000